/* COLORS:
grey: #303030
chartreuse: #5c892c
purple: #5b3a59

*/

/* YOUR CSS GOES HERE */
html {
  font-size: 16px;
  line-height: 1.5rem;
  font-family: 'Source Sans Pro', sans-serif;
  color: #303030;
  background-color: #EBF0E5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  width: 320px;
  height: auto;
  padding: 1em .75em 2em .75em;
  margin: 0 auto;
  background-color: white;
}
h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 165%;
  text-align: center;
  margin: 0 0 0 0;
}

h3, h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-align: left;
  color: #5c892c;
	font-weight: bolder;
}
	a {
	  padding: 22px;
	  text-decoration: none;
	}
	li {
	  list-style-type: none;
	  margin: .25em 0 0 -15%;
    line-height: 1.25em;
	}




img {
  margin: 0 auto;
}



h3, H4 {
  margin: .5em 0 0 0;
}
i {
  color: white;
  display: inline-block;
  padding: 12px;
  position: relative;
}

/* NAVIGATION - referenced: http://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_dropdown  */
.navigationBar {
  position: fixed;
  top: 0em;
  left: 0em;
  width: 100%;
  height: 55px;
  background-color: #5b3a59;
  z-index: 1000;
}
.navigationMenus {
  margin: 0 0 0 3em;  
  width: 10em;
  height: 4em;
}
.dropdownMenu i {
  color: white;
  font-size: 1.8em;
  margin: .125em 0 0 0;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdownContent {
  display: none;
  position: absolute;
  top: 3.35em;
  background-color: #ebf0e5;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  width: 21em;
  z-index: 1000;
}
.dropdownContent a {
  font-weight: bolder;
  font-size: 115%;  
  color: #303030;
  padding: 1em 0 1em 1em ;  
  display: block;
  border: .25px solid #c2d3b0;
}
.dropdownContent a:hover {
	background-color: #adc495
}
.dropdownMenu:hover .dropdownContent {
  display: block;
}
.rightMenu {
  margin: -4em 2.75em 0 0;
}
.rightMenu a {
  font-size: 1.75em;
  padding: .14em .125em .125em .125em;
  float: right;  
}

/* HOMEPAGE LOGO */
img.logo  {
  margin: 4em 0 0 5em; 
}
h1.logo {
  width: 100%;
  font-size: 200%;
  line-height: 1.0625em;
  font-family: 'Cormorant Infant', serif;
  margin: 0em auto 2em auto;
}

.introduction {
  margin: -2em 0 0 0;
}

/* ACCORDIAN */
button.accordion {
  margin: .5em 0 .25em 0;  
  background-color: white;
  color: #5c892c;
  cursor: pointer;
  width: 100%;
  border: .5px solid #5c892c;
  border-radius: 8px;
  text-align: left;  
  font-size: 110%;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  transition: 0.4s;  
}
button.accordion.active, button.accordion:hover {
  border: 2px solid #5b3a59;
}
button i {
  color: #5c892c;
}
div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* OUR SPECIALTIES */

/* ACUPUNCTURE PRICING */
.pricing-container {
  width: 100%;
  margin: 1em 0 0 0;
}
.pricelist {
  display: inline-block;
  width: 85%;
  margin: .125em 0 0 -.25em;
}
.list {  
  display: inline-block;  
  width: 70%;
}
.price {
  width: 48%;
  display: inline-block;
  text-align: right;
  float: right;
}

/* BUSINESS HOURS */
.businessHours-container{
  width: 100%;
}
.businessHours {
  width: 86%;
}
.day {
  width: 30%;
}
.hours {
  width: 50%;
  margin: -1.25em 3em 0 0;
  float: right;
  text-align: right;
}

/* CONTACT US */
iframe {
  width: 100%;
  margin: 1.5em -1.40em;
  border: 1px solid #303030;
}
.address {
  margin: -2em 0 0 0;
}
.cuPhone {
  margin: -1.5em 0 0 -.5em;
  font-weight: bolder;
}

/* FOOTER */
footer {
  margin: 1em 0 0 0;
  border-top: .25px solid #303030;
}
footer p {
  clear: both;
  font-size: 75%;
  text-align: center;
  margin: .0625em 0 0 0;
}
.socialMedia i {
  margin: 0 -1.5em 0 -1.5em;
  padding: 20px;
  color: #5c892c;
}
.socialMedia i:hover {
  color: #5b3a59;
}



