/* YOUR CSS GOES HERE */

html {
  background-color: #202020;
}

body {
  border: 1px solid green;
  background-color: white;
  color: #111;
  width: 40em;
  padding: 0 4.688em;
 /* margin: 0 auto; */
}
h1 {
  
}
img, iframe {
  width: 40em;
  height: 25em;
}
hr {

}