/* _mobileFirst */
html {
    font-size: 18px;
    line-height: 1rem;
    font-family: sans-serif;
    color: #111;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

body, body * {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: .666rem;
    line-height: 1rem;
}

body>* {
    display: block;
    width: 300px;
    margin: 0 auto;
}

.font-scale-up-3 {
    font-size: 3.375em;
    line-height: 2rem;
}

.font-scale-up-2 {
    font-size: 2.25em;
    line-height: 2rem;
}

.font-scale-up-1 {
    font-size: 1.5em;
}

.font-scale-down-1 {
    font-size: 0.666em;
}

header {
    margin: 1rem auto 2rem;
    padding: 1rem;
    background-color: #FF851B;
}

header h1 {
    margin-bottom: 1rem;
    text-transform: uppercase;
}

header h2 {
    font-weight: normal;
}

article {
    margin-bottom: 4rem;
}

img.cover-img {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
}

article h2 {
    margin-bottom: 1rem;
    line-height: 1rem;
}

article p span {
    display: none;
}

article p:after {
    content: "Read More...";
    font-size: 1.5em;
    color: #FF851B;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

article p:hover:after {
    color: #111;
    text-decoration: none;
}

footer {
    margin-bottom: 3rem;
}


/* --- 480px media-query --- */
@media screen and (min-width: 480px){
html {
    font-size: 21.75px;
} 
header {
    margin: 1.5rem auto 1.75rem auto;
    width: 95%; /* 460/480 */
    height: 30%; /* 170/480 */
}
header h1 {
    height: 170%;
    line-height: 25em;
}
article h1 {
  margin: 0 auto 0rem -31%;
  width: 160%;
  }
article h2 {
  margin: 0 auto 1.125rem -31%;
  }
img.cover-img {
    display: block;
    width: 162%;
    max-width: 162%;
    margin: 0 auto 1.25rem -31%;
}
article p span {
    width: 460px;
    display: block;
    margin: 0 auto 1.1rem -31%;
   /* font-size: 120.5%; */
    line-height: 1.55em;
}
article p:after {
    display: none;  /*article p:after: "Read More...";*/ 
}
footer {
    margin: 0em 0em 5em .75em;
}

 
/* --- 720px media-query --- */
@media screen and (min-width: 720px) {  
html {
    font-size: 26px;
} 
header {
    width: 97%;
    height: 208px;
    margin: 1.25rem auto 1.75rem auto;
}
header h1 { 
    height: 68%;
    line-height: 20em;
}
.clearfix {
    width: 698px;
    height: auto; 
}
img.cover-img {
    width: 318px;
    float: left;
    margin: 0 0 2.25em 0; 
}
article h1 {
    width: 355px;
    height: auto;
    float: right;
}
article h2 {
    width: 355px;
    float: right;
    margin: 52px -140px 0px 0px;
}
/* ADDED ID's TO HTML - COULD NOT FIGURE OUT (NONE OF THE PSEDUO CLASSES WERE WORKNG FOR ME) */
#two h2 {
    margin: 106px -140px 0px 0px;
}
#three h2 {
    margin: 106px -140px 0px 0px;
}
#nine h2 {
    margin: 106px -140px 0px 0px;
}
#ten h2 {
    margin: 106px -140px 0px 0px;
}
#twelve h2 {
    margin: 157px -140px 0px 0px;
}
article p span {
    width: 20.5em;
    float: right;
    margin: 1.5em 0 0 0;

   /* font-size: 120.5%; */
    line-height: 1.55em;
}
article p:after {
    display: none;  /*article p:after: "Read More...";*/ 
}
footer {
    margin: -.125em 0 4.875em 40%;
}


/* --- 1080px media-query --- */
@media screen and (min-width: 1080px) {  
html {
    font-size: 26px;
    background-color: #FF851B;    
}
header {
    width: 300px;
    height: 250px;
    margin: 0em 6em 1.75rem 0em;
}
header h1 { 
    height: 68%;
    line-height: 20em;
}
header h2 {
    margin: 4em 0 0 0;
}
/* COULD NOT FIGURE OUT HOW TO USE MAIN - ADDED ID */
#one {
    border:1px solid yellow;
    width: 90%;
    float: left;
    margin: -16em 0 0 15.5em;
}
article {
    border:1px solid yellow;    
}
article h1 {
visibility: collapse;
}
article h2 {
visibility: collapse;
}
article p span {
visibility: collapse;
}
article p {
visibility: visible;
}
/* COULD NOT FIGURE OUT HOW TO GET THE IMAGES TO FLOAT
(for article content tried display:none, moving off board and 
visibility collapse) */
article img.cover-img {
    width: 320px;
    height: 485px;
    float: right;
    padding: 0em 2em 2em 2em;
}
.clearfix {
    overflow: auto;
}
footer {
    width: 20%;
    clear: both;
    margin: -432em 0 0 1.5em;
}
